:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --bg-color: #cee0f1;
    --font-color: #343a40;
    --heading-color: #061321;
}

[data-theme="dark"] {
    --primary-color: #14100f;
    --secondary-color: #8928a7;
    --bg-color: #767a7f;
    --font-color: #f0f4f8fa;
    --heading-color: #ebe1de;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
}

header h1 {
    color: var(--heading-color);
    margin: 10;
}

button {
    margin: 5px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
}

main {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    border-color: #6c757d;
    border-width: 3px;
    margin-left: 10px;
    margin-right: 0;
}

p {
    font-style: italic;
}

#buttons {
    margin-top: 0px;
    margin-left: 0;
    float: left;
}

#theme-toggle{
    color: #171211;
}

article{
    flex: 2;
}

div{
    flex: 1;
}
