
body{
    margin: 0px;
}

header{
    background-color: #1c8e08;
}

.Brand img{
    background-color: #1c8e08;
    margin-top: 10px;
    width: 100px;
    float: left;
}

.Brand h1{
    font-size: 50px;
    position: relative;
    top: 25px;
}


.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: brown;
}

.navbar li{
    float: left;
    font-size: 20px;
}

.about{
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
}

h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
}

input{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

textarea{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
}

button {
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    display: flex;
    margin: auto;
    cursor: pointer;
}

button:hover{
    background-color: #4f554e;
}

footer {
    background-color: #1c8e08;
    text-align: center;
    padding: 10px 0;
}
